html {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightyellow;
}

.wrapper {
  display: flex;

  .box3 {
    grid: 1;
  }

  .box4 {
    flex: 3;
  }
}

.box1 {
  img {
    border: 1px black solid;
  }
}